<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
		<%= simple_form_for(@task, class: "form-horizontal", remote: true) do |f| %>
		  <%= f.error_notification %>

		  <div class="form-group <%= error?(@task.errors, :name) %>">
		    <label class="control-label">Name <star>*</star></label>
		    <%= f.text_field :name, placeholder: "Name", class: "form-control", required: true %>
		    <%= print_error(@task.errors, :name) %>
		  </div>
		  <div class="form-group <%= error?(@task.errors, :project_id) %>">
		    <label class="control-label">Project <star>*</star></label>
		    <%= f.select :project_id, Project.all.map{|m| [m.name,m.id] }, {prompt: "Please select Project"}, class: "form-control", required: true %>
		    <%= print_error(@task.errors, :project_id) %>
		    <%#= f.association :project %>
		  </div>
		   <div class="form-group">
		    <%= f.button :submit, class: "btn btn-primary col-sm-12" %>
		  </div>
		<% end %>
</div>
</div>
