<div class="dashhead">
  <%= render partial: "partial/header", locals: { header: "Users" } %>
  <div class="dashhead-toolbar">
    <a href="<%= new_user_path %>" class="btn btn-primary"><i class="fa fa-plus"></i> New</a>
    <a href="<%= edit_user_path(@user) %>" class="btn btn-primary"> Edit</a>
    <a href="<%= users_path %>" class="btn btn-primary">Back</a>
  </div>
</div>
<hr class="m-t">

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name:</dt>
      <dd><%= @user.name %>
      <dt>Email:</dt>
      <dd><%= @user.email %>
      <dt>Telephone:</dt>
      <dd><%= @user.telephone %>
      <dt>Admin:</dt>
      <dd><%= @user.admin %>
    </dd>
  </div>
</div>