<div class="col-sm-3 sidebar">
  <nav class="sidebar-nav">
    <div class="sidebar-header">
      <button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
        <span class="sr-only">Toggle nav</span>
      </button>
      <a class="sidebar-brand img-responsive" href="index.html">
        <span class="icon icon-leaf sidebar-brand-icon"></span>
      </a>
    </div>

    <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
      <form class="sidebar-form">
        <input class="form-control" type="text" placeholder="Search...">
        <button type="submit" class="btn-link">
          <span class="icon icon-magnifying-glass"></span>
        </button>
      </form>

      <ul class="nav nav-pills nav-stacked">
        <li class="nav-header">Menu</li>

        <li class="<%= active_menu_class('welcome') %>">
          <a href="<%= dashboard_path %>">Dashboard</a>
        </li>
        <li class="<%= active_menu_class('lines') %>">
          <a href="<%= new_line_path %>">Lines</a>
        </li>

        <li class="<%= active_menu_class('hours') %>">
          <a href="<%= hours_path %>">Hours</a>
        </li>
        <li class="<%= active_menu_class('items') %>">
          <a href="<%= items_path %>">Items</a>
        </li>
        <li class="<%= active_menu_class('customers') %>">
          <a href="<%= customers_path %>">Customers</a>
        </li>
        <li class="<%= active_menu_class('projects') %>">
          <a href="<%= projects_path %>">Projects</a>
        </li>
        <li class="<%= active_menu_class('tasks') %>">
          <a href="<%= tasks_path %>">Tasks</a>
        </li>
        <li class="<%= active_menu_class('users') %>">
          <a href="<%= users_path %>">Users</a>
        </li>
        <li class="<%= active_menu_class('profiles') %>">
          <a href="<%= profile_path %>">Profile</a>
        </li>

        <li class="nav-header">More</li>
        <li class="<%= active_menu_class('static_pages', 'contact_us') %>">
          <a href="/contact-us">Contact Us</a>
        </li>
        <li class="<%= active_menu_class('static_pages', 'about_us') %>">
          <a href="/about-us">About Us</a>
        </li>
        <li class="<%= active_menu_class('static_pages', 'faq') %>">
          <a href="/faq">FAQ</a>
        </li>
        <li>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </li>
      </ul>
      <hr class="visible-xs m-t">
    </div>
  </nav>
</div>
