<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @company.user %>
</p>

<p>
  <strong>Customers:</strong>
  <%= @company.customers.pluck(:name).to_sentence %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
