<div class="dashhead">
  <%= render partial: "partial/header", locals: { header: "Forgot your password?" } %>
</div>
<hr class="m-t">

<div class="col-md-6 col-md-offset-3">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="form-group <%= error?(resource.errors, :email) %>">
      <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
      <%= print_error(resource.errors, :email) %>
    </div>

    <div class="form-group">
      <%= f.submit "Send me reset password instructions", class: "btn btn-primary col-sm-12" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>